.circle{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 50%;
}

.square{
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.rectangle{
    width: 150px;
    height: 100px;
    background-color: aqua;
}