.red{
    background-color: red;
    height: 50px;
    width: 150px; 
}

.orange{
    background-color: orange;
    height: 50px;
    width: 150px; 
}

.yellow{
    background-color: yellow;
    height: 50px;
    width: 150px; 
}
.green{
    background-color: green;
    height: 50px;
    width: 150px; 
}

.blue{
    background-color: blue;
    height: 50px;
    width: 150px; 
}
.indigo{
    background-color: indigo;
    height: 50px;
    width: 150px; 
}
.violet{
    background-color: violet;
    height: 50px;
    width: 150px; 
}